body {
    background-color: rgba(5, 39, 46, 0.612);
    font-family:Arial, Helvetica, sans-serif;
}

header {
    clear: both;
    background-color: black;
    color: red;
    padding: 2px;
    text-align: center;
}

nav {
    color: azure;
   
}

nav ul {
    list-style: none;
    padding: 1px;
}

nav ul li {
    display: inline-block;
    margin-right: 5px;
    
}

nav ul li a {
    text-decoration:none;
    color: azure;
}

nav ul li a:hover {
    color:chartreuse
}


section {
    width: 50%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

aside {
    width: 50%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

img {
    width: 400px;
    height: auto;
}

table, th, td {
    border: 1px solid black;
    border-radius: 10px;
  }

#table {
    position: relative;
    top: 20px;
    margin: 0px auto;
}

.asideparagraph {
    font-weight: bold
}

.absolute-note {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: azure;
    padding: 10px;
    border: 2px dotted chartreuse;
}

footer {
    clear: both;
    background-color: black;
    color: azure;
    padding: 1px;
    text-align: center;
}
